<div style="width: 100%; height: 400px;"
  data-controller="mapbox-2"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>



 <div id="info">
 <h1 class="text-center ">Informations</h1>
<%= @spot.address %>
<ul><h2>Description à rajouter dans la DB</h2></ul>
