


.container-sm {

	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

// .gradient {
//   background: hsla(48, 89%, 50%, 1);

//   background: linear-gradient(90deg, hsla(48, 89%, 50%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

//   background: -moz-linear-gradient(90deg, hsla(48, 89%, 50%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

//   background: -webkit-linear-gradient(90deg, hsla(48, 89%, 50%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

// }



h1 {
  display: ruby-text-container;
  align-items: center;
	font-family: 'arial';
	font-size: 16;
	margin-top: 10px;
  color: white;
}

h2 {
  align-items: center;
  color: black;
  text-decoration: none;
}

h3, p {
  display: ruby-text-container;
  align-items: center;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 24px;
  color: white;
}

#formulaire-adresse{
button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #979797;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
}

.link {
  text-decoration: none;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  margin-bottom: 75px;
}
