
  <nav>
  <label for="profile" class='fa fa-home'></label>
  <label for="settings" class='fa fa-map'></label>
  <label for="posts" class='fa fa-user'></label>
  <label for="books" class='fa fa-map-marker'></label>
  </nav>
