<nav>
  <a href="/"><label for="home" class='fa fa-home'></label></a>
  <a href="/spots"><label for="index" class='fa fa-map'></label></a>
  <a href="#"><label for="profile" class='fa fa-user'></label></a>
  <a href="#"><label for="show" class='fa fa-solid fa-comment'></label></a>
</nav>
