<div class="presentation-body">
  <div class="container-sm">
    <h1 class="text-center">ASAPark</h1>
      <br>
        <h3 class="text-center">Trouve ta place de parking</h3>
      <br>
      <div id="formulaire-adresse">
        <form class="searchform cf">
          <input type="text" placeholder="Adresse de destination">
          <button type="submit">Recherche</button>
        </form>
      </div>
  </div>
  <%= link_to spots_path do %>
      <div class="text-center" style="margin-top: 30%;">
        <%= image_tag "logo_handicap_geolocal.jpg",  class: "link", alt: "Disabled", width: 100 %>
        <h2><strong>A proximité</strong></h2>
      </div>
  <% end %>
</div>
