<div class="container bg-white mt-4">
  <div class="container">
    <h1 class="text-center">Nous contacter</h1>
    <div class="">
      <h2>Asapark®</h2>
      <h2>Adresse: 21 Bis Avenue Thiers</h2>
      <h2>Email: asapark06@gmail.com - contact@asapark.xyz</h2>
      <h2>Mobile: +33(0)-664-249-541</h2>
    <div class="d-flex justify-content-evenly">
      <i class="fa-brands fa-facebook fa-xl my-4 animate__animated animate__bounce"></i>
      <i class="fa-brands fa-twitter fa-xl my-4 animate__animated animate__bounce"></i>
      <i class="fa-brands fa-instagram fa-xl my-4 animate__animated animate__bounce"></i>
    </div>

  </div>
  </div>
</div>
