<h1 class="text-center my-5">Nous contacter</h1>
<div class="container  mt-4">

  <div class="container bg-white profil">

    <div >
      <h1 class="text-center color-text mb-3">Asapark®</h1>
      <div class="my-2">Adresse: 21 Bis Avenue Thiers</div>
      <div class="my-2">Email: contact@asadivark.xyz</div>
      <div class="my-2">Mobile: +33(0)-664-249-541</div>
    <div class="d-flex justify-content-evenly">
      <i class="fa-brands fa-facebook fa-xl my-4 animate__animated animate__bounce"></i>
      <i class="fa-brands fa-twitter fa-xl my-4 animate__animated animate__bounce"></i>
      <i class="fa-brands fa-instagram fa-xl my-4 animate__animated animate__bounce"></i>
    </div>

  </div>
  </div>
</div>
