#button_logo_handicap {
  border:0px;
  border-radius:16px;
  margin: 8px;
  height: 100px;
  width: 150px;
  margin-top: 300px;
  margin-inline: auto;

  background-image: url("logo_handicap_geolocal.jpeg");

}
