.button {
  background: #ec9611fc;
  font-family: inherit;
  padding: 1.6em 1.3em;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 2.4em;
  box-shadow: 0.1em 0.1em;
  color: black;
  text-decoration: none;
 }

 .button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
 }

 .button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
 }
