.button-review {
  background: #65579c;
  font-family: inherit;
  padding: 1.6em 1.3em;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #ec9611fc;
  border-radius: 2.4em;
  box-shadow: 0.1em 0.1em;
  color: #ec9611fc;
  text-decoration: none;
 }
