.mapboxgl-popup {
  max-width: 100px;
  color: #1d1c1b;

}

.mapboxgl-popup-content {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 1.4em;
  box-shadow: 0.1em 0.1em;
  color: #1d1c1b;
}


.mapboxgl-popup-content a {
  font-size: 16px;
  color: rgb(11, 11, 11);

}
