.mapboxgl-popup {
  max-width: 100px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background:#39a6ccd9;

}


.mapboxgl-popup-content a {
  font-size: 12px;

}
