.mapboxgl-popup {
  max-width: 90px;
  color: #1d1c1b;

}

.mapboxgl-popup-content {
  cursor: pointer;
 width: 154px;
 height: 150px;
 background: rgba(255, 255, 255, 0.814);
 border-radius: 5px;
 border: 1px solid rgba(0, 0, 255, .2);
 transition: all .2s;
 box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.mapboxgl-popup-content:hover {
  box-shadow: -12px 12px 2px -1px rgba(187, 4, 242, 0.2);
}

.mapboxgl-popup-content a {
  font-size: 18px;
  color: rgb(11, 11, 11);
  font-family: 'Work Sans';

}
.mapboxgl-popup-content p {
  font-size: 24px;
  color: rgb(11, 11, 11);
  font-family: 'Work Sans';
  margin-top: 5px;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-bottom-right {
  display: none !important;
}


// cursor: pointer;
// width: 140px;
// height: 150px;
// background: rgba(255, 255, 255, 0.814);
// border-radius: 5px;
// border: 1px solid rgba(0, 0, 255, 0.2);
// transition: all .2s;
// box-shadow: -2px 4px 2px 1px rgb(0 0 255 / 20%);
