@-webkit-keyframes rotating  {
  from {
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(3.142rad);
    -o-transform: rotateY(3.142rad);
    transform: rotateY(3.142rad);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(3.142rad);
    -moz-transform: rotateY(3.142rad);
    -webkit-transform: rotateY(3.142rad);
    -o-transform: rotateY(3.142rad);
    transform: rotateY(3.142rad);
  }
}

.rotating {
  // transform: rotateY(3.142rad);
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
  position: relative;
}
