// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";


// Your CSS partials
@import "components/index";
@import "pages/index";
<<<<<<< HEAD
@import "spots/index";

body {
  width: 100vw;
  height: 100vh;
  background: #F1C40F;
  font:'HelveticaNeue', Helvetica, Arial, sans-serif;
}
.presentation-body {
  padding: 0; margin: 0; box-sizing: border-box; height: 91vh;
}
=======
>>>>>>> 1a85e60c57f050e68518375d57d3c067f563aea5
