// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "spots/index";

body {
  width: 100vw;
  height: 100vh;
  background: #F1C40F;
  font:'HelveticaNeue', Helvetica, Arial, sans-serif;
  position: relative;
}
.presentation-body {

  padding: 0;
  margin: 0;
  box-sizing:
  border-box;
  height: 88vh;
}

.card-body {
height:364px;
color: #1d1c1b;
padding: 0;
border-radius: 5px;
h6 {
  margin-top: 12px;
  margin-bottom: 36px;


}
}

.card-text {
  color: #1d1c1b;
  text-align: justify;
  position:absolute;

}
.card-title{
  color: black;
  text-align: justify;
  font-size: 16px;
  font-weight: bold;
}
.card-img-top {
  width: 50px;
  background-color: white;
}
.card-top {
  display:flex;
  h4 {
margin-left: 6px;

  }
}

.btn.btn-secondary.btn-lg{
  border-radius: 10%;

}

.button {
  background: #FBCA1F;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  color: #1d1c1b;
 }

 .button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
 }

 .button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
 }
