// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "spots/index";
@import "pages/matches";

body {
  width: 100vw;
  height: 100vh;
  // background: #F1C40F;
  font:'HelveticaNeue', Helvetica, Arial, sans-serif;
  position: relative;
  background-color: #ec9611fc;
}
.presentation-body {
  padding: 0;
  margin: 0;
  box-sizing:
  border-box;
  height: 88vh;
}
.card {
  border-radius: 35px;
  }
.card-body {
height:445px;
color: #1d1c1b;
padding: 11px;
border-radius: 10px;
h6 {
  margin-top: 12px;
  margin-bottom: 36px;
}
}

.card-text {
  color: #1d1c1b;
  text-align: justify;
  position: fixed;
  padding: 10px;

}
.card-title{
  color: black;
  text-align: justify;
  font-size: 16px;
  font-weight: bold;
}
.card-img-top {
  width: 50px;
  background-color: white;
  border-radius: 10%;
}
.card-top {
  display:flex;
  h4 {
margin-left: 6px;

  }
}

.btn.btn-secondary.btn-lg{
  border-radius: 10%;
}

// .card-white {
//   width: 190px;
//   height: 254px;
//   border-radius: 50px;
//   background: #e0e0e0;
//   box-shadow: 20px 20px 60px #bebebe,
//                 -20px -20px 60px #ffffff;
//  }
