<h1 class="text-center">Vos commentaires</h1>

<div class="container text-center">
    <% @reviews.each do |review| %>
      <div class="card border border-dark mt-2 justify-content-center table table-striped" style="border-radius: 75px">
      <p class="card-body" style="height: inherit"><%= review.content %></p>
      </div>
    <% end %>
</div>

<div class="mb3 container text-center"> <%= button_to "Ajouter le votre", new_review_path, class: "btn btn-secondary", method: :get %></div>
